.boletin {
    background-color: #f2f4f5;
    padding: 20px 10px;
    text-align: center;
    &__titulo {
        // font-size: 20px;
        text-align: center;
        margin: 20px 0px;
    }
    &__descripcion {
        text-align: left;
        margin: 20px 0;
    }
    &__group {
        display: inline-block;
    }
    &__group--input {
        border: solid 2px #fff;
        display: inline-block;
    }
    &__group--boton {
        display: inline-block;
    }
}